body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
}

h1 {
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  line-height: 0%;
  font-size: 32px;
}

h2 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  font-size: 31px;
}

h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 400;
}

p {
  color: hsl(229, 6%, 66%);
}

.text-container {
  max-width: 500px;
  text-align: center;
  margin: 40px 0 40px 0;
}

.card-container {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr;
}

.double-card {
  grid-column: 2;
}

.card {
  width: 360px;
  background-color: white;
  height: 250px;
  border-radius: 2.5%;
  box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px 8px rgba(40, 180, 240, 0.15);
}

.sup {
  grid-column: 1;
  border-top: solid 5px hsl(180, 62%, 55%);
  margin: 15vh 20px 0 0;
  position: relative;
}

.sup h3 {
  line-height: 40px;
  margin-left: 20px;
}

.sup p {
  line-height: 25px;
  margin-left: 20px;
}

.sup img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.team {
  position: relative;
  border-top: solid 5px hsl(0, 78%, 62%);
  margin: 0 0 25px 0;
}

.team h3 {
  line-height: 40px;
  margin-left: 20px;
}

.team p {
  line-height: 25px;
  margin-left: 20px;
}

.team img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.karma {
  position: relative;
  border-top: solid 5px hsl(34, 97%, 64%);
}

.karma h3 {
  line-height: 40px;
  margin-left: 20px;
}

.karma p {
  line-height: 25px;
  margin-left: 20px;
}

.karma img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.calc {
  position: relative;
  grid-column: 3;
  border-top: solid 5px hsl(212, 86%, 64%);
  margin: 15vh 0 0 20px;
}

.calc h3 {
  line-height: 40px;
  margin-left: 20px;
}

.calc p {
  line-height: 25px;
  margin-left: 20px;
}

.calc img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

@media (max-width: 375px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 25px;
  }

  .text-container {
    max-width: 320px;
  }

  .card-container {
    grid-template: 1fr / 1fr 2fr 1fr;
    margin-left: 20px;
  }

  .card {
    width: 320px;
  }

  .sup {
    grid-row: 1;
    margin: 5vh 0 3vh 0;
  }

  .double-card {
    margin: 0;
    grid-column: 1;
    grid-row: 2;
  }

  .team {
    margin: 0 0 3vh 0;
  }

  .calc {
    grid-column: 1;
    grid-row: 3;
    margin: 3vh 0 0 0;
  }
}
